snippet today "Prints a date in standard format"
	`strftime("%Y-%m-%d")`
snippet date
	`strftime("%B %d, %Y")`
snippet diso
	`strftime("%Y-%m-%dT%H:%M:%S")`
snippet time
	`strftime("%H:%M")`
snippet datetime
	`strftime("%Y-%m-%d %H:%M")`
