snippet sin Don't launch multiple instances of the script
	#singleinstance
snippet notray Don't show tray icon
	#notrayicon
snippet temp Template
	#notrayicon
	#singleinstance
	; ${0}
	${1}
	return
snippet map
	${0}::${1}
snippet run
	${0}::Run, ${1}
