snippet co
	Co-authored-by: ${1} <${2}>
# x.0.0 commits
snippet BRCH
	BREAKING CHANGE: ${0}
# 0.x.0 commits
snippet fea
	feat: ${0}
# 0.0.x commits
snippet fi
	fix: ${0}
snippet st
	style: ${0}
snippet bl
	build: ${0}
snippet ch
	chore: ${0}
snippet do
	docs: ${0}
snippet re
	refactor: ${0}
snippet ch
	perf: ${0}
snippet ch
	test: ${0}
